input[type="number"] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to top, rgb(254, 45, 45), white);
  background-size: cover;
}

.sum {
  font-size: 100px;
  font-weight: 800;
}

footer {
  background-color: rgb(255, 25, 0);
  height: 10px;
}

h1 {
  color: 30px;
}
